<link phx-track-static rel="stylesheet" href={~p"/assets/map.css"} />
<script defer phx-track-static type="text/javascript" src={~p"/assets/map.js"} />
<div id="map-container" class="h-screen" phx-hook="Map" phx-update="ignore">
  <div id="map" class="h-full"></div>
</div>
